body {
    font-family: 'Arial', sans-serif;
    color: black;
    background-color:#fff;
    font-size:1em;
    margin-bottom:4em;
}

h1{
font-size:48px;
color:#555555;
}

.page{
  width:950px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
}

.req{
  color:red;
}

.sectionHeading{
  font-family: 'Arial', sans-serif;
  color:#404040;
  font-size:1.65em;
}

.innerSection{
  position:relative;
  left:25px;
  width:925px;
}

table, {
  border: 1px solid grey;
  }

select{
   background: transparent;
   font-size: 1em;
   border: 1px solid grey;
   }

input[type=text] {
  margin-top:2px;
  font-size: 1em;
  border: 1px solid grey;

} 

.message{
color:red;
font-weight:bold;
}

.failure{
color:red;
}

#memberRenew{
position:relative;
left:13px;
display:none;
width:800px;
}

#waiveFeeDiv{
display:none;
}

.course-select{
width:300px;
}
.section-select{
width:250px;
}

.input-label{
width:160px;
display:inline-block;
}

fieldset{
margin-top:10px;
margin-bottom:10px;
}

legend{
font-size:20px;
color:#555555;
}

